{{ define "main" }}

{{ with site.GetPage "pages/services" }}
{{ partial "service-dropdown.html" . }}
{{ end }}

<section class="service-{{ .File.ContentBaseName }}">
  {{ range .Params.sections }}
  {{ $type := .type }}
  {{ $id := .id }}
  {{ $data := site.GetPage (printf "%s/%s" $type $id) }}
  {{ if $data }}
  {{ partial (printf "content_components/%s.html" $type) (dict "data" $data) }}
  {{ else }}
  <!-- component {{ $id }} not found -->
  {{ warnf "Missing component %q in collection %q" $id $type }}
  {{ end }}
  {{ end }}
</section>

{{ end }}
