/* Custom COMPONENT STYLES */

/* ----- action-button ----- */
.contact-btn {
  background-color: rgba(var(--nav-txt-color), 1);
  color: rgba(var(--bg-color), 1);
  border-radius: 10px;
  padding: 0.5rem 2rem;
  margin: 1rem 0;
  text-decoration: none;
}

.contact-btn:hover {
  background-color: rgba(var(--bg-color), 1);
  color: rgba(var(--nav-txt-color), 1);
  cursor: pointer;
  outline: 3px solid rgba(var(--nav-txt-color), 1);
}

.contact-btn p {
  font-weight: 900;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.image-link.no-button {
  display: flex;
  flex-direction: row-reverse;
}

.image-link.no-button p {
  margin: 0 0 0 1rem;
}

.image-link.no-button:hover {
  cursor: pointer;
  outline: 3px solid rgba(var(--nav-txt-color), 1);
}

/* ----- image-div ----- */
.img-wrapper.cover-image {
  height: 15rem;
  width: 100%;
  max-width: none;
  overflow: hidden;
  border-radius: 10px;
}

.img-wrapper.cover-image img {
  object-fit: cover;
}

.img-wrapper.restrict-size {
  max-width: 400px;
}

.img-wrapper.center {
  align-self: center;
}

.img-wrapper.left {
  align-self: flex-start;
}

/* ----- text-div ----- */
.flex-card.no-rect {
  background-color: rgba(var(--bg-color), 1);
  box-shadow: none;
}

/* ----- overlap-layout ----- */
@media (max-width: 1000px) {
  .overlap-layout.right.three {
    flex-direction: row-reverse;
  }
}

@media (max-width: 600px) {
  .overlap-layout.right.three {
    flex-direction: column;
  }
}


/* Custom Page Styles */

/* ----- services ----- */
.service-mobile-phlebotomy {}

.service-biofeedback-scan {}

.service-spatial-harmony {}

.service-health-consulting {}
