<footer>
  <div class="footer-content">
    <h3>{{ site.Title }}</h3>
    <span class="services">
      <span>Mobile Blood Draws</span>
      <span class="separator">•</span>
      <span>In-Home Services</span>
      <span class="separator">•</span>
      <span>Biofeedback Therapy</span>
    </span>
    <span>carmen.naturalhealth@gmail.com</span>
    <div class="img-wrapper">
      <img src="{{ site.Data.settings.logo }}" alt="{{ site.Data.settings.title }}">
    </div>
  </div>
</footer>
