<nav>
  <div class="logo-and-name">
    <a href="index.html">
      <div class="img-logo">
        <img src="./pics/mp_logo.webp" alt="business-logo">
      </div>
      <div class="txt-wrapper">
        <h1>CARMEN'S WELLNESS</h1>
      </div>
    </a>
  </div>

  <div class="links">
    <a href="index.html">HOME</a>
    <a href="services.html">SERVICES</a>
    <a href="contact.html">CONTACT</a>
    <a href="resources.html">RESOURCES</a>
  </div>

  <hamburger>
    <input type="checkbox">
    <span></span>
    <span></span>
    <span></span>
    <div id="menu">
      <a href="index.html">HOME</a>
      <a href="services.html">SERVICES</a>
      <a href="contact.html">CONTACT</a>
      <a href="resources.html">RESOURCES</a>
    </div>
  </hamburger>
</nav>
