<nav>
  <div class="logo-and-name">
    <a href="/">
      <div class="img-logo">
        <img src="{{ site.Data.settings.logo }}" alt="{{ site.Data.settings.title }}">
      </div>
      <div class="txt-wrapper">
        <h1>{{ site.Data.settings.title }}</h1>
      </div>
    </a>
  </div>

  <div class="links">
    <a href="/">HOME</a>
    <a href="/services">SERVICES</a>
    <a href="/contact">CONTACT</a>
    <a href="/resources">RESOURCES</a>
  </div>

  <hamburger>
    <input type="checkbox">
    <span></span>
    <span></span>
    <span></span>
    <div id="menu">
      <a href="/">HOME</a>
      <a href="/services">SERVICES</a>
      <a href="/contact">CONTACT</a>
      <a href="/resources">RESOURCES</a>
    </div>
  </hamburger>
</nav>
