{{ define "main" }}

<section class="intro home">
  <h2>Welcome</h2>

  <div class="overlap-layout one">
    <div class="card one">
      <p>
        For well over a decade Carmen's Wellness has been in the health and wellness
        field and serve many surrounding communities.
      </p>
      <p>
        We bring a full-service, comprehensive approach to your health needs.
      </p>
    </div>
    <div class="img-overlay one img-wrapper">
      <img src="./pics/apple_heart.webp" alt="fruit heart">
    </div>
  </div>

  <div class="divider"></div>

  <section class="mobile-phlebotomy home">

    <h3>Mobile Phlebotomy</h3>

    <div class="group-div">

      <div class="text-div">
        <p>
          As the demand for specialized blood testing continues to grow, we’ve expanded our services to meet you
          where you
          are—right in the comfort of your own home. With flexible hours to accommodate your busy schedule, we make
          the process
          simple and stress-free.
        </p>
        <p>
          From beginning to end, we take care of everything:
        </p>
        <ul>
          <li>reviewing your lab requisition</li>
          <li>following your lab kit’s instructions</li>
          <li>drawing and processing your blood</li>
          <li>securely packaging the specimen</li>
          <li>shipping it out for you</li>
        </ul>
        <p>
          Our thorough handling ensures your sample reaches the lab safely and on time, so your results are
          delivered promptly and your provider can guide you toward the right treatment plan without delay.
        </p>
      </div>

      <div class="lab-kits">
        <h3>Lab Kits</h3>
        <div class="logo-carousel">

          <div class="carousel-prev">
            <i class="fa-solid fa-chevron-left"></i>
          </div>

          <div class="carousel-items">
            <div class="carousel-item">
              <a href="https://igenex.com/">
                <img src="./pics/logos/igenex_logo.webp" alt="IGeneX Inc Logo" title="go to site">
              </a>
            </div>
            <div class="carousel-item">
              <a href="https://infectolab-americas.com/">
                <img src="./pics/logos/infectolab_logo.webp" alt="Infectolab Logo" title="go to site">
              </a>
            </div>
            <div class="carousel-item">
              <a href="https://www.gdx.net/">
                <img src="./pics/logos/genovadiagnostics_logo.webp" alt="Genova Diagnostics Logo" title="go to site">
              </a>
            </div>
            <div class="carousel-item">
              <a href="https://vibrant-wellness.com/">
                <img src="./pics/logos/vibrantwellness_logo.webp" alt="Vibrant Wellness Logo" title="go to site">
              </a>
            </div>
            <div class="carousel-item">
              <a href="https://www.nowleap.com/">
                <img src="./pics/logos/oxfordbiomedical_logo.webp" alt="Oxford Biomedical Technologies Logo"
                  title="go to site">
              </a>
            </div>
            <div class="carousel-item">
              <a href="https://www.natera.com/">
                <img src="./pics/logos/natera_logo.webp" alt="Natera Logo" title="go to site">
              </a>
            </div>
            <div class="carousel-item">
              <a href="https://www.ambrygen.com/">
                <img src="./pics/logos/ambrygenetics_logo.webp" alt="Ambry Genetics Logo" title="go to site">
              </a>
            </div>
          </div>

          <div class="carousel-next">
            <i class="fa-solid fa-chevron-right"></i>
          </div>

        </div>
      </div>

    </div>

  </section>

  <div class="divider"></div>

  <section class="wellness home">

    <h3>Supporting Your Wellness Beyond Blood Work</h3>

    <div class="row-wrap-div">
      <div class="img-wrapper hands">
        <img src="./pics/spoons.webp" alt="holistic spoons">
      </div>
      <div class="img-wrapper">
        <img src="./pics/wellness_cubes.webp" alt="wellness">
      </div>
    </div>

    <div class="text-div">
      <p>
        In addition to our phlebotomy services, we also offer Full Body Biofeedback Scans to help you
        better understand your
        health and feel your best. Our holistic approach is designed to bring balance to both body and mind.
      </p>
    </div>

    <div class="text-div">
      <p>
        Not sure which supplements are right for you? Biofeedback takes the guesswork out by analyzing your body’s
        unique energy
        patterns, offering personalized insights tailored to your individual needs. What works for one person may
        not
        work for
        another—and that’s exactly why personalization matters.
      </p>
      <p>
        Best of all, this service is available remotely, so you can receive valuable health insights from the
        comfort
        of your
        own home.
      </p>
    </div>

  </section>

  <section class="bottom home">
    <a href="contact.html" class="contact-btn">
      <p>
        Contact us today!
      </p>
    </a>

    <div class="img-wrapper">
      <img src="./pics/lake-wallpaper-l.webp" alt="lake-image">
    </div>
  </section>

</section>

{{ end }}
