{{ define "main" }}

<section>

  <h2>Welcome</h2>

  {{ $page := site.GetPage "pages/home" }}

  {{ if not $page }}
  page not found
  {{ end }}

  {{ range $page.Params.sections }}
  {{ $type := .type }}
  {{ $id := .id }}
  {{ $data := site.GetPage (printf "%s/%s" $type $id) }}

  {{ if $data }}
  {{ partial (printf "content_components/%s.html" $type) (dict "data" $data) }}

  {{ else }}
  <!-- component {{ $id }} not found -->
  {{ warnf "Missing component %q in collection %q" $id $type }}

  {{ end }}

  <!-- divider at bottom of every component -->
  <div class="divider"></div>

  {{ end }}

  <section class="bottom home">

    <div class="img-wrapper">
      <img src="./pics/lake-wallpaper-l.webp" alt="lake-image">
    </div>

  </section>

</section>

{{ end }}
